/09_http协议/html/
/18_WSGI/01_多进程_web服务器/html/
/18_WSGI/02_web服务器中集成了解析动态请求的功能/html/
/18_WSGI/03_将web服务器和逻辑处理的代码分开/html/
/18_WSGI/04_将web服务器和逻辑处理的代码分开_升级版/html/
/18_WSGI/05_让web服务器支持WSGI协议/html/
/18_WSGI/06_实现模板文件/static/
/18_WSGI/06_实现模板文件/templates/
/18_WSGI/07_替换模板中的数据/static/
/18_WSGI/07_替换模板中的数据/templates/
/18_WSGI/08_运行web服务器时指定端口和框架/static/
/18_WSGI/08_运行web服务器时指定端口和框架/templates/
/18_WSGI/09_让web服务器支持配置文件/static/
/18_WSGI/09_让web服务器支持配置文件/templates/
/20_mini_web框架添加路由、MySQL/01_实现mini_web中的路由功能/static/
/20_mini_web框架添加路由、MySQL/01_实现mini_web中的路由功能/templates/
/20_mini_web框架添加路由、MySQL/01_实现mini_web中的路由功能/static/
/20_mini_web框架添加路由、MySQL/01_实现mini_web中的路由功能/templates/
/爬虫/exercise/aozora_scrapy/novels/
